<md-toolbar class="animate-show md-tall md-whiteframe-z1" ng-show="!showSearch">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon md-svg-icon="navigation:menu" aria-label="Menu"></md-icon>
        </md-button>
        <h3>
            Users
        </h3>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <md-icon md-svg-icon="navigation:more_vert" aria-label="More"></md-icon>
        </md-button>
    </div>
    <span flex></span>
</md-toolbar>
<div layout vertical center style="background: white;">
    <div class="detail-container">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="user in users">
                <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
                <md-icon class="md-avatar" md-svg-icon="action:account_circle"></md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3 >{{user.name}}</h3>
                    <h4 >{{user.email}}</h4>
                </div>
                <md-divider style="color: lightgrey"></md-divider>
            </md-list-item>

        </md-list>

    </div>
</div>










<!--
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div ng-include="'components/side-navbar/side-navbar.html'"></div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 devices-container">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in users">
                    <strong>{{user.name}}</strong>
                    <br>
                    <span class="text-muted">{{user.email}}</span>
                    <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div> -->



