<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3>{{title}}</h3>

    <div class="modal-footer">
        <button href="#" class="btn" ng-click="cancel()">{{cancelLabel}}</button>
        <button href="#" class="btn btn-primary" ng-click="ok()">{{okLabel}}</button>
    </div>
</div>
