<div class="login-content" layout vertical center>
    <div class="login-header">
        <h3 class="login-title">Welcome to Switch</h3>
    </div>
    <div class="login-body">

        <form class="form" name="form" ng-submit="login(form)" novalidate center>

            <div class="form-group">
                <input type="email" name="email" placeholder="Enter email" class="form-control" ng-model="user.email" required>
            </div>

            <div class="form-group">
                <p>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" ng-model="user.password" required>
                </p>
            </div>

            <div class="form-group has-error">
                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                    Please enter your email and password.
                </p>
                <p class="help-block" ng-show="form.email.$error.email && submitted">
                    Please enter a valid email.
                </p>

                <p class="help-block">{{ errors.other }}</p>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary btn-medium btn-login" type="submit" affirmative>
                    Sign in
                </button>
            </div>


        </form>


        <!-- <p>
            <button class="btn btn-google-plus" ng-click="loginOauth('google')">
                <i class="fa fa-google-plus"></i> Sign in with Google+
            </button>
        </p>

        <p>
            <button class="btn btn-facebook" ng-click="loginOauth('facebook')">
                <i class="fa fa-facebook"></i> Sign in with Facebook
            </button>
        </p> -->
    </div>
</div>
