<div class="tab-pane">
    <form action="">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="device.node._id" ng-disabled="true">
        </div>
        <!--         <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="device.node.name">
        </div> -->
        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" ng-model="device.node.type" ng-disabled="true">
        </div>
        <div class="form-group">
            <label>Manufacturer</label>
            <input type="text" class="form-control" ng-model="device.node.manufacturer" ng-disabled="true">
        </div>
        <div class="form-group">
            <label>Product</label>
            <input type="text" class="form-control" ng-model="device.node.product" ng-disabled="true">
        </div>
    </form>
    <pre>
    {{getJsonString(device.node)}}
    </pre>
</div>
