<div class="tab-pane">
    <div ng-repeat="schedule in device.weekly_schedules">
        <schedule schedule="schedule" schedule-index="$index" device="device"></schedule>
    </div>
    <button class="btn btn-primary" ng-click="addSchedule()">
        <md-tooltip>
            Add a Weekly Schedule
        </md-tooltip>+</button>
</div>
