<div class="tab-pane">
    <form action="">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="device._id" ng-disabled="true">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="device.name">
        </div>
        <div class="form-group">
            <label>Image</label>
            <div horizontal layout center>
                <div class="round" ng-click="chooseImage()">
                    <img ng-src="{{device.image_url}}" alt="{{image}}"></img>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Location</label>

            <select ng-options="location._id as location.name for location in locations" ng-model="device.location_id" ng-change="locationChanged()">
        </div>


        <div class="form-group">
            <label>Switch</label>
            <paper-toggle-button self-center ng-model="device.switch" ng-click="device.setSwitch(!device.switch);" />
        </div>
    </form>
</div>
