<div horizontal layout center>
    <div flex>
        <div horizontal layout center>
            <div class="round">
                <img ng-src="{{recipe.image_url}}" alt="{{image}}"></img>
            </div>
            <div class='info'>
                <div class='name'>
                    {{recipe.name}}
                </div>
            </div>
        </div>
    </div>
    <md-button class="md-icon-button" aria-label="Play Recipe" ng-click="recipe.run();$event.stopPropagation();">
        <md-icon md-svg-icon="av:play_circle_fill" aria-label="Play Recipe"></md-icon>
    </md-button>
</div>
