.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
    transition: all 0.30s ease-out;
    position: relative;
    background-color: white;
    padding: 16px;
    width: 100%;
    min-width: 250px;
    cursor: pointer;
}

@media all and (min-width: 764px) {
    .card {
        width: calc(50% - 44px);
        margin: 8px 0 0 8px;
    }
}
@media all and (min-width: 1100px) {
    .card {
        width: calc(33% - 38px);
    }
}
@media all and (min-width: 1450px) {
    .card {
        width: calc(25% - 42px);
    }
}

/* the shadowplash while enabling */

.card paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
    color: #0091ea;
}
/* filling of circle when checked */

.card paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
    background-color: #039be5;
}
/* line when checked */

.card paper-toggle-button::shadow #toggleBar[checked] {
    background-color: #039be5;
}
