$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
// Component styles are injected through grunt
// injector
@import 'account/login_old/login.scss';
@import 'dashboard/dashboard.scss';
@import 'devices/devices.scss';
@import 'login/login.scss';
@import 'main/main.scss';
@import 'recipes/recipes.scss';
@import 'users/users.scss';
@import 'action-card/action-card.scss';
@import 'card/card.scss';
@import 'condition-card/condition-card.scss';
@import 'modal/modal.scss';
@import 'recipe-card/recipe-card.scss';
@import 'schedule/schedule.scss';
@import 'sidenav/sidenav.scss';
// endinjector
