<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-hue-2">
        <span flex></span>
        <div layout="row" layout-align="start center">
            <md-icon class="md-avatar" md-svg-icon="action:account_circle"></md-icon>
            <span flex></span>
        </div>
        <span flex></span>
        <div class="md-body-2">{{user.name}}</div>
        <div class="md-body-1">{{user.email}}</div>
    </md-toolbar>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in menu" role="link" md-ink-ripple ng-click="item.link()">
            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">{{item.title}}</span>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <!-- <md-subheader class="md-no-sticky">Management</md-subheader> -->
        <md-list-item class="md-2-line" ng-repeat="item in admin" role="link" md-ink-ripple ng-click="item.link()">
            <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
            <div class="md-list-item-text">
                <span class="md-body-2">{{item.title}}</span>
            </div>
        </md-list-item>
    </md-list>
</md-sidenav>
