

/* the shadowplash while enabling */

.schedule-recipe paper-toggle-button {
    margin-left: 50px;
}

.schedule paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
    color: #0091ea;
}
/* filling of circle when checked */

.schedule paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
    background-color: #039be5;
}
/* line when checked */

.schedule paper-toggle-button::shadow #toggleBar[checked] {
    background-color: #039be5;
}


.schedule-recipe.well {
    padding: 0px;
    padding-left: 5px;
}

.schedule {
    margin-top:20px;
}

.dows {
    margin-top:5px;
    margin-bottom:10px;
}
.dow {
    margin-right:5px;
}
.dow label {
    font-weight: normal;
}

.schedule hr {
    margin-top:10px;
    margin-bottom:10px;
}
