<div class="schedule panel panel-default">
    <div class="panel-heading" horizontal layout center>
        <span>Weekly Schedule {{scheduleIndex}}</span>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="remove schedule" ng-click="removeSchedule($index)">
            <md-icon md-svg-icon="content:remove" aria-label="remove schedule"></md-icon>
        </md-button>
    </div>
    <div class="panel-body">
        <div class="dows clearfix">
            <div class="dow pull-left" ng-repeat="dow in dows track by $index">
                <label>{{DOW_LABELS[$index]}}</label>
                <input type="checkbox" ng-model="dows[$index]">
            </div>
        </div>
        <div class="schedule-recipe well" ng-repeat="recipe in schedule.recipes" layout layout-align="left center" style="padding:0px">
            <schedule-condition ng-if="recipe.conditions[0].type === 'condition.schedule'" self-center condition=recipe.conditions[0] style="min-width: 210px;">
            </schedule-condition>
            <solar-condition ng-if="recipe.conditions[0].type === 'condition.solar'" self-center condition=recipe.conditions[0] style="min-width: 210px;">
            </solar-condition>
            <md-switch ng-model="recipe.actions[0].value" style="margin:0px; margin-left:10px"></md-switch>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Remove rule" ng-click="removeRule($index)" style="margin:0px; padding: 0px">
                <md-icon md-svg-icon="content:remove" aria-label=""></md-icon>
            </md-button>
        </div>
        <md-button class="md-icon-button" aria-label="Add schedule" ng-click="addRecipe('condition.schedule')">
            <md-icon md-svg-icon="device:access_alarm" aria-label="add schedule"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Add solar condition" ng-click="addRecipe('condition.solar')">
            <md-icon md-svg-icon="image:wb_sunny" aria-label="solar condition"></md-icon>
        </md-button>
    </div>
</div>
