<!-- <paper-icon-button icon="menu"></paper-icon-button> -->
<span flex>SWITCH</span>
<!-- <paper-icon-button icon="refresh"></paper-icon-button> -->
<paper-icon-button icon="account-circle" ng-hide="isLoggedIn()" ng-click="openLogin()"></paper-icon-button>

<paper-menu-button ng-hide="!isLoggedIn()">
    <paper-icon-button icon="more-vert" noink></paper-icon-button>
    <paper-dropdown halign="right" duration="200" class="dropdown">
        <core-menu class="menu">
            <paper-item>
                <a href="/devices">Devices</a>
            </paper-item>
            <paper-item>
                <a href="" ng-click="logout()">Logout</a>
            </paper-item>
        </core-menu>
    </paper-dropdown>
</paper-menu-button>
