#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
}*/
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */

        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */

    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

/*
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
*/

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
/*
*
* Header
*/

html,
body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
}

core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#mainview {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

core-toolbar {
    background: #0f9d58;
    color: white;
}

core-scaffold::shadow core-toolbar {
    background: #0f9d58;
    color: white;
}

#tabs {
    width: 100%;
    max-width: 300px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.container {
    width: 80%;
    margin: 50px auto;
}

@media (min-width: 481px) {
    .container {
        width: 400px;
    }
}

.dropdown {
    position: absolute;
}

section {
    padding: 20px 0;
}

section > div {
    padding: 14px;
    font-size: 16px;
}

paper-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html /deep/ core-collapse {
    border: 1px solid #ccc;
    padding: 8px;
}

.constrained-height {
    height: 150px;
}

.colored {
    color: #0f9d58;
}

.dropdown.colored::shadow #ripple,
.dropdown.colored::shadow #background {
    border: 1px solid #0f9d58;
    background-color: #b7e1cd;
}

.circle2 {
    width: 50px;
    height: 50px;
    background: red;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 20px;
}

.home-bg {
  //  background: url(https://d3nn82uaxijpm6.cloudfront.net/assets/website/backgrounds/unlock_your_potential-run-2ec3ce8df18718b9c5a6f1eb1c36696f.jpg) no-repeat 50% 50% fixed;
    background: url(kitchen.jpg) no-repeat 50% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


