<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3>{{title}}</h3>
    <div class="pull-left" ng-repeat="image in images" style="margin:5px; border: 1px solid transparent; padding:5px" ng-click="selectImage(image)"
    ng-style="isSelected(image) && {'border': '1px solid red'}">
        <div class="round">
            <img ng-src=" assets/images/{{image}} " alt="{{image}} "></img>
        </div>
    </div>
    <div class="clearfix " />
    <div class="modal-footer ">
        <button href="# " class="btn " ng-click="cancel() ">{{cancelLabel}}</button>
        <button href="# " class="btn btn-primary " ng-click="ok() ">{{okLabel}}</button>
    </div>
</div>
