.trash {
    color: rgb(209, 91, 71);
}

.gripper {
    cursor: -webkit-grab;
}

.devices-container {
    padding: 0px;
}

.list-panel {
    float: left;
    /* padding: 1%;*/
}

.tab-pane {
    padding-top: 10px;
    width: 100%;
}

.detail-panel {
    float: left;
    width: 50%;
    height: 100%;
    min-height: 100vh;
    background: white;
}

/*.detail-container {
    height: 100%;
    width: 100%;
    padding: 3%;
    border: 1px solid #C0C0C0;
    background: white;
    min-height: 100vh;
}
*/
.highlightTxt {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.panel-heading {
    overflow: hidden;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
    transition: all 0.30s ease-out;
    position: relative;
    background-color: white;
    padding: 16px;
    width: 100%;
    cursor: pointer;
}

.info .name {
    padding-left: 10px;
}

.info .message {
    padding-left: 10px;
    color: gray;
}

// the splash while enabling
.card paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
    color: #0091ea;
}

// filling of circle when checked
.card paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
    background-color: #039be5;
}

// line when checked
.card paper-toggle-button::shadow #toggleBar[checked] {
    background-color: #039be5;
}

.circle {
    width: 40px;
    height: 40px;
    background: #0f9d58;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0px;
}

.round {
    background: #0f9d58;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding: 7px 7px;
    margin: 0px;
}

.round img {
    width: 36px;
    height: 36px;
}
