<div layout="column" class="relative" layout-fill role="main">
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="add()">
        <md-icon md-svg-icon="content:add" aria-label="Plus"></md-icon>
    </md-button>
    <md-toolbar class="animate-show md-tall md-whiteframe-z1" ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <md-icon md-svg-icon="navigation:menu" aria-label="Menu"></md-icon>
            </md-button>
            <h3>
            Dashboard
          </h3>
            <span flex></span>
       <!--      <md-button class="md-icon-button" aria-label="Search" ng-click="toggleSearch()">
                <md-icon md-svg-icon="action:search" aria-label="Search"></md-icon>
            </md-button>
            <md-input-container flex style="padding:0px; margin-right:8px" ng-show="isSearchVisible">
                <input type="text" ng-model="search.query" style="color:white"></input>
            </md-input-container> -->
            <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <md-icon md-svg-icon="navigation:more_vert" aria-label="More"></md-icon>
            </md-button>
        </div>
        <span flex></span>
    </md-toolbar>
    <md-content layout="column" flex class="md-padding">
        <div class="col-sm-12 col-md-12 devices-container">
            <div class="table-responsive">
                <div layout="row" style="flex-wrap: wrap">
                    <card class="card" ng-click="edit(control)" ng-repeat="control in controls | filter:search.query track by control._id " control="control"></card>
                </div>
            </div>
        </div>
    </md-content>
</div>
