<div layout layout-align="left center">
    <div layout flex layout-align="left center">
        <div class="round" style="background: #8CFEC8">
            <img ng-src="{{recipe.image_url}}" alt="{{image}}"></img>
        </div>
        <div class='info' layout="column" layout-align="left">
            <span class='name'>
                {{recipe.name}}
            </span>
            <!-- <span style="align-self: flex-end" class='message'>Turning on in 5 minutes...</span> -->
        </div>
    </div>
    <md-button class="md-icon-button" aria-label="Play Recipe" ng-click="recipe.run();$event.stopPropagation();">
        <md-icon md-svg-icon="av:play_arrow" aria-label="Play Recipe"></md-icon>
    </md-button>

</div>

