<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools" style="background: grey">
            <h2> <span>Event Condition</span> </h2>
            <span flex></span>
            <paper-icon-button icon="remove" ng-click="remove()"></paper-icon-button>
        </div>
    </md-toolbar>
    <md-card-content>
        <div horizontal layout>
            <!-- <div flex> -->
            <div horizontal layout center>
                <div class="round">
                    <img ng-src="{{selected.source.image_url}}" alt="{{selected.source.image_url}}"></img>
                </div>
                <div class='info'>
                    <div class='name'>
                        <md-select ng-model="selected.source" ng-change="update(selected.source)">
                            <md-option ng-repeat="sourceOption in sources" ng-value="sourceOption">{{sourceOption.name}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <md-select ng-model="condition.event">
                <md-option ng-repeat="eventOption in eventOptions" ng-value="eventOption">{{eventOption}}</md-option>
            </md-select>
        </div>
    </md-card-content>
</md-card>
