<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools" style="background: grey">
            <h2> <span>Script Condition</span> </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="remove" ng-click="remove()">
                <md-icon md-svg-icon="content:remove" aria-label="remove"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-card-content style="min-height: 400px; padding:0px">
        <div ui-ace ng-model="condition.script" style="min-height:400px; margin: 0px"></div>
    </md-card-content>
</md-card>
