<div layout="column" class="relative" layout-fill role="main">
    <md-toolbar class="animate-show md-tall md-whiteframe-z1" ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <md-icon md-svg-icon="navigation:menu" aria-label="Menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Open Settings" ng-click="back()">
                <md-icon md-svg-icon="navigation:arrow_back" aria-label="More"></md-icon>
            </md-button>
            <h3>
            {{recipe.name}}
          </h3>
            <span flex></span>
            <span style="font-size: 70%">{{date | date:'medium'}}</span>
            <!-- <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <md-icon md-svg-icon="navigation:more_vert" aria-label="More"></md-icon>
            </md-button> -->
        </div>
        <span flex></span>
        <div layout="row">
            <md-tabs flex md-stretch-tabs="never" md-selected="data.selectedIndex">
                <md-tab id="tab1" aria-controls="tab1-content">
                    Info
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content">
                    Conditions
                </md-tab>
                <md-tab id="tab3" aria-controls="tab3-content">
                    Actions
                </md-tab>
                <md-tab id="tab4" aria-controls="tab4-content">
                    Document
                </md-tab>
            </md-tabs>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Save" ng-click="save()">
                <md-icon md-svg-icon="content:save" aria-label="Save"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Save" ng-click="delete()">
                <md-icon md-svg-icon="action:delete" aria-label="Delete"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <ng-switch on="data.selectedIndex" class="tabpanel-container" style="background: white; height:100%">
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="left stretch" style="margin-left:10px">
            <md-content class="md-padding" style="min-width:800px">
                <div ng-include="'app/recipes/recipes-detail-info.html'"></div>
            </md-content>
        </div>
        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" lang="" yout-align="left stretch" style="margin-left:10px">
            <md-content class="md-padding" style="min-width:800px">
                <div ng-include="'app/recipes/recipes-detail-conditions.html'"></div>
            </md-content>
        </div>
        <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="left stretch" style="margin-left:10px">
            <md-content class="md-padding" style="min-width:800px">
                <div ng-include="'app/recipes/recipes-detail-actions.html'"></div>
            </md-content>
        </div>
        <div role="tabpanel" id="tab4-content" aria-labelledby="tab4" ng-switch-when="3" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="left stretch" style="margin-left:10px">
            <md-content class="md-padding" style="min-width:800px">
                <db-document doc="recipe"></db-document>
            </md-content>
        </div>
    </ng-switch>
</div>
