<core-toolbar class="medium-tall">
    <paper-icon-button id="navicon" icon="menu" ng-click="toggleDrawer()"></paper-icon-button>
    <span flex>Recipes</span>
    <div horizontal layout class="bottom fit" style="width:100%">
        <div flex></div>
        <div class="btn-group" role="group" style="margin-right:10px">
            <paper-icon-button icon="add" ng-click="addRecipe()"></paper-icon-button>
        </div>
    </div>
</core-toolbar>
<paper-toast id="toast" text="{{toast.message}}" ng-opened="toast.show"></paper-toast>
<div class="col-sm-12 col-md-12 devices-container">
    <div class="table-responsive">
        <div horizontal layout wrap>
            <recipe-card class="recipe-card" ng-click="edit(recipe)" ng-repeat="recipe in recipes" obj="recipe">
            </recipe-card>
        </div>
    </div>
</div>
<!-- <paper-fab icon="add" style="position: fixed; bottom: 8%; right: 8%" ng-click="addRecipe()"></paper-fab> -->
