<div class="tab-pane">
    <form action="">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="recipe._id" ng-disabled="true">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="recipe.name">
        </div>
        <div class="form-group">
            <label>Image</label>
            <div horizontal layout center>
                <div class="round" ng-click="chooseImage()">
                    <img ng-src="{{recipe.image_url}}" alt="{{image}}"></img>
                </div>
                <!-- <h1 style="margin:10px 10px">{{device.name}}</h1> -->
            </div>
            <!-- <input type="text" class="form-control" ng-model="recipe.image_url"> -->
        </div>
    </form>
</div>
