<div class="tab-pane">
   <!--  <md-content>
        <md-card>
            <md-toolbar>
                <div class="md-toolbar-tools" style="background: grey">
                    <h2> <span>Script Condition</span> </h2>
                    <span flex></span>
                    <paper-icon-button icon="remove" ng-click="removeCondition()"></paper-icon-button>
                </div>
            </md-toolbar>
            <md-card-content style="min-height: 400px; padding:0px">
                <div ui-ace ng-model="recipe.conditions[0].script" style="min-height:400px; margin: 0px"></div>
            </md-card-content>
        </md-card>
    </md-content> -->

      <md-content>
        <condition-card ng-repeat="condition in recipe.conditions" condition="condition" index="$index" recipe="recipe"></condition-card>

         <md-menu>
          <md-button aria-label="Add a Condition" class="md-icon-button" ng-click="$mdOpenMenu()">
            <md-icon md-menu-origin md-svg-icon="call:business"></md-icon>
          </md-button>

          <md-menu-content width="4">
            <md-menu-item ng-repeat="item in [1, 2, 3]">
              <md-button ng-click="addCondition($index)">
                <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                Option {{item}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>


<!--
        <button class="btn btn-primary" ng-click="addCondition()">
            <md-tooltip>
                Add a Condition
            </md-tooltip>+</button> -->
    </md-content>
</div>
