<div class="tab-pane">
    <md-content>
        <action-card ng-repeat="action in recipe.actions" action="action" index="$index" recipe="recipe"></action-card>
        <button class="btn btn-primary" ng-click="addAction()">
            <md-tooltip>
                Add an Action
            </md-tooltip>+</button>
    </md-content>
</div>
