.trash {
    color: rgb(209, 91, 71);
}

.gripper {
    cursor: -webkit-grab;
}

.devices-container {
    padding: 0px;
}

.list-panel {
    float: left;
}

.tab-pane {
    padding-top: 10px;

}

.detail-panel {
    float: left;
    width: 50%;
    height: 100%;
    min-height: 100vh;
    background: white;
}

.detail-container {
    height: 100%;
    padding: 3%;
    /*border: 1px solid #C0C0C0;*/
    width: 100%;
    max-width: 700px;
    background: white;
    min-height: 100vh;
}

.highlightTxt {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.panel-heading {
    overflow: hidden;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
    transition: all 0.30s ease-out;
    position: relative;
    background-color: white;
    padding: 16px;
    width: 100%;
    cursor: pointer;
}

.info .name {
    padding: 10px;
}

// the splash while enabling
.card paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
    color: #0091ea;
}

// filling of circle when checked
.card paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
    background-color: #039be5;
}

// line when checked
.card paper-toggle-button::shadow #toggleBar[checked] {
    background-color: #039be5;
}

.circle {
    width: 40px;
    height: 40px;
    background: #0f9d58;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0px;
}

.round {
    background: #0f9d58;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding: 7px 7px;
    margin: 0px;
}

.round img {
    width: 36px;
    height: 36px;
}




.hexagon {
   /* width: 100px;
    height: 55px;*/
    width: 50px;
    height: 27px;
    background: red;
    position: relative;
    display: block;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 12px solid red;
}
.hexagon:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 12px solid red;
}

.hexagon img {
    width: 36px;
    height: 36px;
}


.hexaHolder{
    height: 50px;
    width: 50px;
    float: left;
    background: #0f9d58;
}
.hexa img{
    width:100%;
    margin-top: -5px;
}
.hexa, .hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
}
.hexa {
    text-align: center;
    margin: 0;
    width: 135px;
    height: 115px;
}
.hexa div {
  width: 100%;
  height: 100%;
}
.hexa {
  transform: rotate(120deg);
}
.hex1 {
  transform: rotate(-60deg);
}
.hex2 {
  transform: rotate(-60deg);
}

.hexaHolder img {
    width: 36px;
    height: 36px;
}



