<md-content class="md-padding">
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>ID</label>
            <input ng-model="doc._id" type="text" readonly></input>
        </md-input-container>
        <md-input-container flex>
            <label>Rev</label>
            <input ng-model="doc._rev" type="text" readonly></input>
        </md-input-container>
    </div>
<!--     <div layout layout-sm="column">
        <md-input-container flex>
            <label>Created</label>
            <input ng-model="doc.created.date" type="text" readonly></input>
        </md-input-container>
        <md-input-container flex>
            <label>Modified</label>
            <input ng-model="doc.modified.date" type="text" readonly></input>
        </md-input-container>
    </div> -->
    <pre> {{doc|json}} </pre>
</md-content>
