<md-card>
    <md-toolbar style="min-height:32px">
        <div class="md-toolbar-tools" style="background: grey; height:32px">
            <h2> <span>Device Action</span> </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="remove()" aria-label="remove">
                <md-icon md-svg-icon="content:remove" aria-label="remove"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-card-content>
        <div horizontal layout layout-align="left center">
            <div flex horizontal layout layout-align="left center">
                <div class="round">
                    <img ng-src="{{selectedDevice.device.image_url}}" alt="{{selectedDevice.device.image_url}}"></img>
                </div>
                <div class='info'>
                    <div class='name'>
                        <md-select ng-model="selectedDevice.device" ng-change="update(selectedDevice.device)">
                            <md-option ng-repeat="deviceOption in devices" ng-value="deviceOption">{{deviceOption.name}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <md-switch ng-model="action.value" />
        </div>
    </md-card-content>
</md-card>
