<md-toolbar class="animate-show md-tall md-whiteframe-z1" ng-show="!showSearch">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon md-svg-icon="navigation:menu" aria-label="Menu"></md-icon>
        </md-button>
        <h3>
            Settings / Change Password
        </h3>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <md-icon md-svg-icon="navigation:more_vert" aria-label="More"></md-icon>
        </md-button>
    </div>
    <span flex></span>
</md-toolbar>
<div layout vertical center style="background: white;">
    <div class="detail-container">
        <div class=" panel panel-default">
            <div class="panel-heading" horizontal layout center>
                <span style="color:grey; text-transform: uppercase; font-weight: bold">Password</span>
            </div>
            <div class="panel-body">
                <form class="form" name="form" ng-submit="changePassword(form)" novalidate style="width:260px">
                    <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" name="password" class="form-control" ng-model="passwordData.oldPassword" mongoose-error/>
                        <p class="help-block" ng-show="form.password.$error.mongoose">
                            {{ errors.other }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="newPassword" class="form-control" ng-model="passwordData.newPassword" ng-minlength="3" required/>
                        <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                            Password must be at least 3 characters.
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" name="confirmPassword" class="form-control" ng-model="passwordData.confirmPassword" ng-minlength="3" required/>
                        <p class="help-block" ng-show="(passwordData.confirmPassword != passwordData.newPassword) && submitted">
                            Passwords don't match.
                        </p>
                    </div>
                    <p class="help-block"> {{ message }} </p>
                    <button class="btn" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
