<!-- <core-toolbar class="medium-tall">
    <paper-icon-button id="navicon" icon="menu" ng-click="toggleDrawer()"></paper-icon-button>
    <span flex>Settings</span>
    <paper-tabs id="tabs" selected="0" class="bottom fit">
        <paper-tab ng-repeat="location in locations" ng-click="selectLocation(location.name, location._id)">{{location.name}}</paper-tab>
    </paper-tabs>
</core-toolbar> -->
<!-- <div class="col-sm-12 col-md-12 devices-container">
    <div class="table-responsive">
        <div horizontal layout wrap>
            <card class="card" ng-click="edit(device)" ng-repeat="device in devices" device="device"></card>
        </div>
    </div>
</div> -->
