<md-toolbar class="animate-show md-tall md-whiteframe-z1" ng-show="!showSearch">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon md-svg-icon="navigation:menu" aria-label="Menu"></md-icon>
        </md-button>
        <h3>
            Settings
        </h3>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <md-icon md-svg-icon="navigation:more_vert" aria-label="More"></md-icon>
        </md-button>
    </div>
    <span flex></span>
</md-toolbar>
<div layout vertical center style="background: white;">
    <div class="detail-container">
        <md-list>
            <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                    <h3 style="font-weight: bold">Developer Mode</h3>
                    <span>Enable extra developer functionality.</span>
                </div>
                <md-checkbox style="margin-right:12px" ng-model="user.preferences.developer_mode"> aria-label="Developer Mode Checkbox">
                </md-checkbox>
                <md-divider style="color: lightgrey"></md-divider>
            </md-list-item>
            <md-list-item class="md-3-line" style="padding:16px">
                <div class="md-list-item-text">
                    <h3 style="font-weight: bold">Password</h3>
                    <span>Last changed on 2015-04-06</span>
                </div>
                <md-button style="align-self:center" class="md-icon-button" aria-label="Edit password" ng-click="editPassword()">
                    <md-icon md-svg-icon="editor:mode_edit"></md-icon>
                </md-button>
                <md-divider style="color: lightgrey"></md-divider>
            </md-list-item>
        </md-list>
 <!--        <md-content layout-padding layout="row" layout-sm="column" style="padding:16px">
            <md-input-container flex>
                <input type="text" ng-model="event.value" placeholder="Event"></input>
            </md-input-container>
            <md-button id="navicon" ng-click="emitEvent()">Emit</md-button>
        </md-content> -->
    </div>
</div>
