<div layout layout-align="left center">
    <div layout flex layout-align="left center">
        <div class="round">
            <img ng-src="{{device.image_url}}" alt="{{image}}"></img>
        </div>
        <div class='info' layout="column" layout-align="left">
            <span class='name'>
                {{device.name}}
            </span>
            <span class='message'>{{message}}</span>
        </div>
    </div>
    <md-switch ng-if="device.isSwitch()" ng-model="device.switch" ng-click="device.setSwitch(!device.switch);$event.stopPropagation();" aria-label="device switch"/>
</div>

