.login-content {
    width: 400px;
    text-align: center;
    min-height: 275px;
}

.login-title {
    font-variant: small-caps;
    margin: 0px;
    margin-left: 20px;
}

.login-header {
    display: block;
    padding: 15px;
    width: 100%;
}
.login-body {
    position: relative;
    padding: 20px;
    width: 100%;
}
.login-body button {
    margin: 5px;
    /*width: 60%;*/
}
.login-body p {
    margin: 0 0 10px;
}
.login-body form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.login-body input {
    background-color: white;
    margin: 5px;
}
.btn-primary {
    text-transform: uppercase;
    background-color: #0f9d58;
    border-color: #0f9d58;
}
.btn {
    border-radius: 3px;
}

form.transbox
{
  margin: 30px;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid gray;
  /*filter:alpha(opacity=60);*/ /* For IE8 and earlier */
}

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
  animation: shake 400ms ease-in-out;
}
