<div layout="column" style="height:100%;width:100%; align-items: center; justify-content: center; " class="home-bg">
    <div flex/>
    <form class="login-content transbox form" layout="column" name="form" shake-that submitted="submitted" submit="login(form)"novalidate center>
        <div class="login-header">
            <div layout="row" layout-align="center center">
                <img src="assets/images/switch14.svg" alt="" style="width:40px"></img>
                <h3 class="login-title">Switch</h3>
            </div>
        </div>
        <div class="login-body">
            <div class="form-group">
                <input type="email" name="email" placeholder="Enter email" class="form-control" ng-model="user.email" required>
            </div>
            <div class="form-group">
                <p>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" ng-model="user.password" required>
                </p>
            </div>
            <div class="form-group has-error">
                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                    Please enter your email and password.
                </p>
                <p class="help-block" ng-show="form.email.$error.email && submitted">
                    Please enter a valid email.
                </p>
                <p class="help-block">{{ errors.other }}</p>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary btn-medium btn-login" type="submit" affirmative>
                    Sign in
                </button>
            </div>
        </div>
    </form>
    <div flex/>
</div>


<!-- ng-submit="login(form)"  -->
